@import "../../app.scss";
.hero{
        height:calc(100vh - 100px);
        background: linear-gradient(180deg,#0c0c1d,#111132);
        overflow: hidden;
        position: relative;


        .wrapper{
            width:1366px;
            max-width:1366px;
            height: 100%;
            margin: auto;
         
        
        
        .textContainer {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 40px;

                @include mobile
                {
                    height: 50vh;
                    width: 100vw;
                    gap: 20px;
                    // align-items: center;
                    // text-align: center;

                }

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;

                @include mobile{                    
                        font-size: 20px;
                        letter-spacing: 5px;     
                        text-align: center;              
                }
            }

            h1 {
                font-size: 88px;
                @include mobile{                    
                        font-size: 36px;
                        text-align: center;
                    
                }
            }

            .buttons {
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                // justify-content: center;
                gap: 10px;
                @include mobile{
                    display: flex;
                    flex-direction: row;
                   

                    justify-content: center;
                    
                }
                

                
            button {
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin: 20px;
                cursor: pointer;
                font-weight: 300;
                width: auto;
                position: relative;
                margin-left: 0;

                @include mobile{
                    padding: 10px;
                    font-size: 12px;
                //   margin-left:-10px ;
                  left: 10px;
                    
                    
                }
             
            }
            }
            img {
                width: 50px; 
                left: 20px; 
                
                @include mobile{
                    width: 40px; 
                    // padding: 10%;
                    margin-bottom: 50px;
                    margin-top: 20px;
                    margin-left: 45%;

                    
                   
                    
                }
            }       
       }
    }
    .imageContainer{
        height: 100% ;
        position: absolute;
        top: 0;
        right: 0;

        @include mobile{
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        }
    .slidingTextContainer{
        position: absolute;
        font-size: 50vh;
        bottom:-110px;
        white-space: nowrap;
        color: #ffffff09; 
        width:60%;
        font-weight: bold;
        @include mobile{
            font-size: 150px;
            margin-bottom: 70px;
            width: 100%;
            text-align: center; 
           
        }
    }
   
}