@import "../../app.scss";

.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;


    @include mobile{
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mobile{
            gap: 20px   ;
            margin-top: 70px;
            align-items: center;
            text-align: center;
        }
        h1{
            font-size: 100px;
            line-height: 88px;
            // color: white;
            @include mobile{
                font-size: 34px;
                
            }
        }
        span{
            font-weight: 300;
        }

    }
    .formContainer{
        flex: 1;
        position: relative;

        
        @include mobile{
            padding: 50px;
            width: 100%;
        }

        .phoneSvg{
            padding-left: 150px;
            position: absolute;
            margin: auto   ;
            stroke: orange;
            z-index: -1;

           
        }
        form{
        display: flex;
        flex-direction: column;
        gap: 25px;
        input,textarea{
            padding: 20px;
            background-color: transparent;
            border: 1px solid gray;
            color: white;
            border-radius: 5px;

            @include mobile{
                padding: 10px;
            }
        }
        button{
            // padding: 20px;
            // white-space: nowrap;
            // margin: auto;
            width: auto;
            overflow: hidden;
            border: none;
            background-color: orange;
            color: white;
            font-size: auto;
            left: 0px;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
            
                        @include mobile{
                            padding: 10px;
                        }
            

        }
    }
}
}
