@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile {
    flex-direction: column;
    padding: 10px;
    width: 100%;
    gap: 1px;
   
    
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      margin-top: 70px;
      align-items: center;
      text-align: center;
    }
    h1 {
      font-size: 100px;
      line-height: 88px;
      // color: white;
      @include mobile {
        font-size: 34px;
      }
    }
    span {
      font-weight: 300;
    }
  }
  .formContainer {
    flex: 1;
    position: relative;
  
    @include mobile {
      padding: 50px;
      width: 100%;
    }
   .contact-svg {
       width: 650px;
       height: 450px;
   }

   /* Then, use a media query to change the size for a smaller screen */
   @media screen and (max-width: 900px) {
       .contact-svg {
           width: 50vw;
           
           height: 40vh;
           margin: auto;
           padding: auto;
          //  justify-content: center;
       }
   }
    .phoneSvg {
      padding-left: 40px;
      position: absolute;
      margin: auto;
      stroke: orange;
      z-index: -1;
      display: flex;
      justify-content: center;
      align-items: center;
      

    }
    form {
      display: flex;
      flex-direction: column;
      gap: 25px;
      @include mobile{
         margin-bottom: 20px;
      }

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid gray;
        color: white;
        border-radius: 5px;

        @include mobile {
          padding: 10px;
        }
      }
      button {
        // padding: 20px;
        // white-space: nowrap;
        // margin: auto;
        width: auto;
        overflow: hidden;
        border: none;
        background-color: orange;
        color: white;
        font-size: auto;
        left: 0px;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        @include mobile {
          padding: 10px;
         
        }
      }
    }
  }
}
