.navbar {
  height: 100px;
  position: relative;
  z-index: 0999;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: rebeccapurple; // Note: This color is likely for testing the layout
    height: 100%;

    span {
      font-weight: bold;
      margin-left: 2%;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}